################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HeadlessShop
/src/HeadlessShop.Web/Localization
obj
bin
App_Data